<p>before...<p>
<p>
<p>call a simple tag</p>

Another simple tag aTag, which locates in the same directory as this template:

first define something in a Java code block. 

` // java.util.* is automatically imported
` List<String> strings = new ArrayList<String>(){{add("you");add("me");add("them");}};

`tag aTag strings

note: the picka tag is defined in the japidviews/_tags directory

`tag picka("a", "b" + "c") | String r
    the tag chosed: $r
    <p>and we can can call a tag recurive?</p>
    `tag SampleTag(r)
`
</p>

<p>
Or using the full path of the tag
</p>

`tag japidviews/templates/aTag(strings)

<p>You can use "." instead of "/" in the path:</p>

`tag japidviews.templates.aTag strings
