`args List<String> posts

<p>
The "each/Each" command is a for loop on steroid, with lots of loop information. 
</p>

<p> 
The instance variable is defined after the | line, the same way as any tag render-back
</p>

`each posts | String p
    <p>index: $_index, parity: $_parity, is odd? $_isOdd, is first? $_isFirst, is last? $_isLast, total size: $_size </p>
    call a tag:  `tag SampleTag p
`

`tag SampleTag "end"

<p> now we have an enhanced for loop (the "open for loop") that also makes all the loop properties available</p>

`for String p : posts
    <p>index: $_index, parity: $_parity, is odd? $_isOdd, is first? $_isFirst, is last? $_isLast, total size: $_size </p>
    call a tag:  `tag SampleTag p
`